html {
	height: 100%;
}

body {
	
	background-image: url("images/mst3k-studio.jpg");
	background-color: #0074DD;
/*	background-color: -webkit-linear-gradient(left, #0074DD, #3BC8F6);*/
	margin: 0;
	padding: 0;
	height: 100%;
	background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;

}

header {
	font-size: 6vw;
	font-family: Frijole, Revalia, sans-serif;
	text-align: center;
	color: yellow;
	padding: 0;
	margin: -15px;
}

span {
	font-family: Revalia, sans-serif;
	color: Cyan;
}

#starcrash {
	width: 100%;
	height: 100%;
}

